extends ../../layouts/post
block pageVariables
	- var page = {}
	- var post = {}
	- post.title = "Learning Spectre.css"
	- post.author = "Geoff Davis"
	- post.date = "21 April 2016"
block content
	p I came across the minimalist #[span.highlight Spectre.css] while reading the CSS Weekly newsletter, and at first I thought "not #[em another] CSS framework&hellip;", but after looking through the documentation, it's a very promising system.

	blockquote Spectre.css is a lightweight, responsive and modern CSS framework for faster and extensible development. #[cite &mdash;&nbsp;#[a(href="http://picturepan2.github.io/spectre/" target="_blank") picturepan2]]