include parts/mixins
block pageVariables
include parts/head
body.container
	section.columns
		.column.col-2
		.column.col-8
			main(class=`post ${page.classList}`)
				block content
		.column.col-2
include parts/footer