extends layouts/default
block pageVariables
	- var page = {}
	- page['classList'] = 'index'
	- page['scripts'] = ['toast','checkDate','viewNext']
	- page['title'] = 'Home'
block content
	.toast
		button.btn.btn-clear.float-right
		i.material-icons.icon-info_outline info_outline
		span One wedding coming up! &nbsp;
		a(href="#viewNext" data-open="modal") view&nbsp;&raquo;
	h1 Spectre test
	table.table
		thead
			tr
				th.title.text-center(colspan="5") Weddings 2016
			tr
				th name
				th date
				th location
				th attending
				th bridal party?
		tbody
			each wedding in weddings
				+wedding(wedding.name,wedding.date,wedding.location,wedding.attending,wedding.bridalparty,wedding.couple)
	br
	+post('Learning Spectre.css','Geoff Davis','21 April 2016','posts/learning-spectre-css')
		block postPreview
			p #[span.highlight Spectre.css] is a new CSS framework aiming to slim down your development time with an easy-to-use yet powerful and extensible design system.

	+modal('viewNext','Your next wedding is:')
		block modalBody
			h3: #[u The #[span.wedding#name] Weddin]g
			p The marriage of #[em: span.wedding#couple]#[br]on #[strong: span.wedding#date]#[strong , 2016]#[br]in #[a.loc-link(target="_blank"): strong: span.wedding#location].
			p You are marked as #[strong: span.wedding#attendance].
			p#rolep You will be participating as #[strong: span.wedding#role].